@font-face {
    font-family: 'Yellowtail';
    src: url('./Yellowtail-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}
a{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-family: 'Yellowtail';
}

.header-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*padding: 12px 128px 0px 128px;*/
    gap: 24px;
}

.header-list li a{
    color: black;
    font-size: 18px;
}