@font-face {
    font-family: 'Yellowtail';
    src: url('./Fonts/Yellowtail/Yellowtail-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Epilogue";
    src: url('./Fonts/Epilogue/static/Epilogue-Light.ttf');
    font-weight: 600;
    font-style: normal;
}

a{
    text-decoration: none;
}

body{
    background-image: url('./Images/backgroundSushi.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100%;
}

html{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.headerContainer h1{
    font-family: 'Yellowtail';
    font-size: min(15vw, 120px);
    color: #FFFAFA;
    margin: 16px;
    font-weight: 200;
}

.headerList{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    gap: min(2vw, 24px);
}

.headerList li a{
    color: white;
    font-size: min(10vw, 30px);
    font-family: 'Epilogue';
    margin: 8px;
}

.headerList li a{
    transition: color 0.5s;

    margin: 10px;
}

.headerList li a:hover{
    color: #FFDEAD;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    margin: 80px 20px;
    width: min(50vw, 750px);
    padding: 50px;
    gap: 10px;
}

.mainContainer img{
    width: min(50vw, 500px);
}

.mainContainer p{
    font-family: 'Epilogue';
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.menuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    margin: 80px 20px;
    max-width: 750px;
    padding: 50px;
    gap: 10px;
}

.menuContainer img{
    width: 100%;
}

.responsive{
    width: min(50vw, 680px);
    height: min(50vh, 500px);
}